@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #28403D;
}

body img {
    width: 100%;
    margin-bottom: 0;
}

.conteudo {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    height: 80%;
    background-color: white;
}

h1 {
    margin-top: 0;
    font-family: 'Sono', sans-serif;
    padding-top: 50px;
    border-bottom: 1px solid black;
}

h2 {
    padding-top: 40px;
}


p {
    font-family: 'Eczar', serif;
    font-size: 17px;
}

.btn_pag {
    background-image: linear-gradient(to right, #28403D, #2d4d49);
    width: 25%;
    border: none;
    padding: 12px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.btn_pag a {
    text-decoration: none;
    text-align: center;
    color: white;
}

